<div class="wrap">
    <div class="hunter-header text-center">
        <img src="../images/headhunter/headhunter.png">
        <input type="button"
               value="立即申请"
               class="hunter-btn orange-btn"
               ng-click="vm.loginGO()">
    </div>

    <!--专业人才推荐-->
    <div class="container hunter-content">
        <h1 class="col-md-12 text-center hunter-padding">
            <span class="tips-line"></span>
            &nbsp;&nbsp;专业的人才推荐服务&nbsp;&nbsp;
            <span class="tips-line"></span>
        </h1>
        <p class="col-md-12 text-center hunter-text">独具特色的人才推荐服务</p>
        <p class="col-md-12 text-center hunter-text">我们专注为企业提供高品质、全方位的中高端人才解决方案</p>
        <div class="col-md-12 text-center hunter-partner">
            <div class="col-md-1 col-sm-12"></div>
            <div class="col-md-2 col-sm-4">
                <img src="../images/headhunter/hunter-logo-1.png" alt="">
                <h4>全职业覆盖</h4>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="../images/headhunter/hunter-logo-2.png" alt="">
                <h4>免费评测</h4>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="../images/headhunter/hunter-logo-3.png" alt="">
                <h4>背景调查</h4>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="../images/headhunter/hunter-logo-4.png" alt="">
                <h4>灵活消费</h4>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="../images/headhunter/hunter-logo-5.png" alt="">
                <h4>定向培训</h4>
            </div>
            <div class="col-md-1 col-sm-12"></div>
        </div>
    </div>


    <div class="hunter-content-right">
        <div class="container">
            <ul class="row hunter-partner">
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div>
                        <h3>全职业覆盖</h3>
                        <p>葡萄藤创始人利用强大的人脉，汇集互联网顶尖人才。截止目前有来自阿里巴
                            巴、腾讯、京东、搜狐、联想、乐视、虎嗅、猎聘网、金山云、极路由、等二
                            十多家企业的顶尖人才加入了人才评测计划，从CEO到核心构架师，囊括了研
                            发、运维、产品、运维等全职业，形成初级、中级、高级人才全覆盖。</p>
                    </div>
                </li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12 three-right">
                    <div class="text-center hunter-img ">
                        <img src="../images/headhunter/hunter-content-1.png">
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="hunter-content-left">
        <div class="container">
            <ul class="row hunter-partner">
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="text-center hunter-img ">
                        <img src="../images/headhunter/hunter-content-2.png">
                    </div>
                </li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div>
                        <h3>免费评测</h3>
                        <p>葡萄藤创始人利用强大的人脉，汇集互联网顶尖人才。截止目前有来自阿里巴
                            巴、腾讯、京东、搜狐、联想、乐视、虎嗅、猎聘网、金山云、极路由、等二
                            十多家企业的顶尖人才加入了人才评测计划，从CEO到核心构架师，囊括了研
                            发、运维、产品、运维等全职业，形成初级、中级、高级人才全覆盖。</p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="hunter-content-right">
        <div class="container">
            <ul class="row hunter-partner">
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div>
                        <h3>背景调查</h3>
                        <p>葡萄藤创始人利用强大的人脉，汇集互联网顶尖人才。截止目前有来自阿里巴
                            巴、腾讯、京东、搜狐、联想、乐视、虎嗅、猎聘网、金山云、极路由、等二
                            十多家企业的顶尖人才加入了人才评测计划，从CEO到核心构架师，囊括了研
                            发、运维、产品、运维等全职业，形成初级、中级、高级人才全覆盖。</p>
                    </div>
                </li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12 three-right">
                    <div class="text-center hunter-img ">
                        <img src="../images/headhunter/hunter-content-3.png">
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="hunter-content-left">
        <div class="container">
            <ul class="row hunter-partner">
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="text-center hunter-img ">
                        <img src="../images/headhunter/hunter-content-4.png">
                    </div>
                </li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div>
                        <h3>灵活收费</h3>
                        <p>葡萄藤创始人利用强大的人脉，汇集互联网顶尖人才。截止目前有来自阿里巴
                            巴、腾讯、京东、搜狐、联想、乐视、虎嗅、猎聘网、金山云、极路由、等二
                            十多家企业的顶尖人才加入了人才评测计划，从CEO到核心构架师，囊括了研
                            发、运维、产品、运维等全职业，形成初级、中级、高级人才全覆盖。</p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="hunter-content-right">
        <div class="container">
            <ul class="row hunter-partner">
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div>
                        <h3>定向培训</h3>
                        <p>葡萄藤创始人利用强大的人脉，汇集互联网顶尖人才。截止目前有来自阿里巴
                            巴、腾讯、京东、搜狐、联想、乐视、虎嗅、猎聘网、金山云、极路由、等二
                            十多家企业的顶尖人才加入了人才评测计划，从CEO到核心构架师，囊括了研
                            发、运维、产品、运维等全职业，形成初级、中级、高级人才全覆盖。</p>
                    </div>
                </li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12 three-right">
                    <div class="text-center hunter-img ">
                        <img src="../images/headhunter/hunter-content-5.png">
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
